
body{
  background-image: url(/public/bg\ picture.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mainContainer{
  background-color: black;
  text-align: center;
}
.navbar{
  background-color: white;
  margin: 10px;
  text-align: center;
  font-size: large;
  padding: 10px;
  /* align-items: space-between; */
}
#card{
  display: flex;
  box-shadow: -5px 5px 10px orange;
}
@media (max-width:500px) {
  #card{
    display: flex;
    flex-direction: column;
  }
}

h1{
  background-color: white;
}
.icon{
  color: yellow;
  margin: 10px;
}
.imgBox{
  background-color: black;
  width: 400px;
  height:410px;
  border-bottom-left-radius: 50%;
  border: 4px solid rgb(15, 12, 12);
  padding-right: 20px; 
  padding-top: 20px;
  margin: 10px;
}
.img{
  width: 400px;
  border-bottom-left-radius: 50%;
  border: 4px solid black;
}
.Btn{
  margin: 10px;
  margin-left: 30px;
  padding: 10px;
  font-size: large;
  background-color: black;
  color: white;
  border: none;
  box-shadow: 5px 5px 10px black;
}
.BtnBox{
  display: flex;
  margin: 10px;
}
